.markdown-area {
  max-width: 100%;
  overflow-wrap: break-word;
}

.markdown-area img {
  max-width: 100%;
  padding: 0.4rem 0;
}

.markdown-area pre {
  overflow-x: auto;
}

.markdown-area ul {
  padding-left: 2rem;
}

.markdown-area ol {
  padding-left: 2rem;
}

.markdown-area p {
  padding: 0.2rem 0;
}

.markdown-area h2 {
  padding-top: 1rem;
}

.markdown-area h3 {
  padding-top: 0.8rem;
}

.markdown-area h4 {
  padding-top: 0.5rem;
}

.markdown-area :not(pre) code {
  background-color: rgb(238, 238, 238);
  padding: 3px;
}